

/*======================
    03  NAVBAR
=======================*/

.custom_nav_menu {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.custom_nav_menu .social_menu .list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.custom_nav_menu .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 7px;
    font-weight: 500;
    transition: all 0.4s;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #000;
}

.stickyadd .navbar-nav {
    margin-top: 0px;
}

.stickyadd.custom_nav_menu .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom_nav_menu .navbar-brand.logo img {
    height: 26px;
}

.stickyadd.custom_nav_menu {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom_nav_menu .navbar-nav li.active a,
.custom_nav_menu .navbar-nav li a:hover,
.custom_nav_menu .navbar-nav li a:active {
    color: #f52a50 !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom_nav_menu .btn-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

